*{
  margin: 0;
  padding: 0;
}

#header{
  background-color: tomato;
  width: 1340px;
  display: inline-block;
  margin-top: 5px;
  padding-top: 5px;
  height: 30px;
}

#items{
  display: inline;  
  margin-left: 100px;
  color: blue;
}

#centro{
  width: 1340px;
  height: 580px;
  background-color: pink;
}

#titulo{
  width: 1340px;
  margin-left: 10px;
}

#tituloDiaActual{
  width: 1340px;
  margin-left: 10px;
}

#tabla{
  width: 1340px;
  margin-left: 10px;
}